<div
  class="flex justify-center w-fit rounded-lg overflow-hidden shadow-custom-black"
>
  <!-- hero image with logo -->
  <div class="bg-secondaryHard pt-10 pb-20 px-14 space-y-52 hidden md:block">
    <!-- Solvei8 icon -->
    <div>
      <img
        src="/icon.svg"
        alt="this is an illustration"
        width="full"
        height="full"
      />
    </div>

    <!-- Illustration image -->
    <div>
      <img
        src="/illustration.svg"
        alt="this is an illustration"
        width="full"
        height="full"
      />
    </div>
  </div>

  <div class="flex-shrink"><router-outlet /></div>
</div>
